.card {
  padding: 1rem;
  border: solid 1.4rem #fff;
  background-color: #fefae0;
  border-radius: 0.4rem;
  /* position: relative; */
  box-shadow: 0px 0px 6px 2px #97b3da;
}

.card .name {
  width: auto;
  padding: 1rem;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 1000;
}
.card .brief {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 800;
  color: #5fa8d3;
}
.card img {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 8px 4px #d4a373;
}
.card .toppings {
  margin: 1rem 0;
  font-size: 1.0rem;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  color: #1b4965;
}
.card .toppings p {
  margin: 0.1rem 0 0.1rem 0.5rem;
  font-size: 1.0rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #7f7f7f;
}
.card .toppings span {
  font-weight: 600;
  color: #7f7f7f;
}
.card .price {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}
.card .price {
  margin: 0.5rem 0 0 0;
  padding: 0.2rem 0.6rem;
  display: inline-block;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #FFF;
  background-color: #1b4965;
  border-radius: 0.2rem;
}
.card .price span {font-weight: 800;}